# Environment variables
.env

# Gradio cache
.gradio/

# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/
.venv/

# OS files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Logs
*.log